.form {
  // display: flex;
  // align-items: center;

  // flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  .category-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    padding: 10px;

    p {
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      color: #464372;
      padding: 15px;
      border-radius: 5px;
      margin: 10px;
      // width: 110px;
      min-width: 50px;
      text-align: center;
      font-size: 14px;
      transition: all 0.2s ease;
      transition: transform 0.4s ease;
      &:focus {
        background-color: #3932d8;
        color: #fff;
      }
      &:hover {
        transform: scale(1.05);
        border: 1px solid #3932d8;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      background-color: #3932d8;
      font-family: helvetica;
      font-size: 16px;
      font-weight: 400;
      line-height: 15px;
      padding: 10px 25px;
      border-radius: 5px;
      @media screen and (max-width: 768px) {
        padding: 10px 30px;
      }
    }
  }

  .formik {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .label-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 100px;
      .label1 {
        flex: 0.5;
      }
      .input-error {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0.5;
        .field {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          margin-left: 20px;
          margin-top: 20px;
        }
        .field-checkbox {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin-left: 20px;
          margin-top: 20px;
          .checkbox {
            margin-left: 10px;
            margin-top: 10px;
          }
        }
        .field-input {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          border-radius: 5px;
          height: 60px;
          margin-left: 20px;
          margin-top: 20px;

          input::placeholder {
            font-size: 16px;
            opacity: 0.6;
          }
          input {
            border: none;
            outline: none;
            width: 90%;
            font-size: 1rem;
          }
        }
      }
      select {
        // A reset of styles, including removing the default dropdown arrow
        // Additional resets for further consistency
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 0 1em 0 0;
        margin: 0;
        height: 50%;
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
        line-height: 1rem;
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.3rem;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        flex-shrink: 0;
      }
      input[type="checkbox"] + :checked + * {
        color: #3932d8;
      }
      input[type="checkbox"]:checked + *::before {
        content: "✓";
        color: white;
        text-align: center;
        background: #3932d8;
        border-color: #3932d8;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .btn {
        border: none;
        color: #fff;
        background-color: #3932d8;
        font-family: helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 15px;
        padding: 20px 30px;
        border-radius: 5px;
        white-space: nowrap;
      }
    }
  }
}
