.jobCardWrapper {
  width: 500px;
  height: 220px;
  background: #fff;
  margin: 40px;
  color: #111111;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.4s ease;
  @media (min-width: 481px) and (max-width: 768px) {
    height: 370px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:hover {
    transform: scale(1.05);
    border: 1px solid #3932d8;
  }
  .jobcard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sectionOne {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0.15;
      .avatar {
        display: inline-block;
        // background: #fff;
        height: 55px;
        width: 55px;
        margin-right: 10px;
        z-index: 1;
      }
    }
    .sectionTwo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 0.55;
      @media screen and (max-width: 768px) {
        align-items: center;
        width: 100%;
        flex: 0.6;
      }

      .sectionTwo-row1 {
        // border: 1px solid black;
        height: 90px;
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          width: 100%;
        }

        .job-company {
          margin-top: 6px;
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          span {
            font-size: 18px;
            color: gray;
          }
          p {
            margin-top: 5px;
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 18px;
          }
        }
        .location {
          margin-top: 3px;

          span {
            font-size: 13px;
          }
        }
      }
      .sectionTwo-row2 {
        // border: 1px solid green;
        display: flex;

        align-items: center;
        justify-content: flex-start;
        height: 50px;
        max-height: 50px;
        @media screen and (max-width: 768px) {
          justify-content: space-around;
          width: 72%;
        }
        .wrapper {
          margin-right: 50px;
          @media screen and (max-width: 768px) {
            margin: 0;
          }
        }
        p {
          color: gray;
          font-size: 12px;
          margin: 3px 0px;
          @media screen and (max-width: 768px) {
            font-size: 13px;
            text-align: center;
          }
        }
        span {
          font-size: 12px;
          margin: 3px 0px;
          @media screen and (max-width: 768px) {
            font-size: 13px;
          }
        }
      }
      .sectionTwo-row3 {
        // border: 1px solid black;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
          width: 90%;
          justify-content: center;
        }

        p {
          margin: 0px 10px 0px 0px;
          border-radius: 5px;
          // min-width: 15px;
          padding: 8px 14px;
          font-size: 14px;
          background: #f1f2f6;
          color: #3932d8;
        }
      }
    }
    .sectionThree {
      flex: 0.3;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 92%;
        flex: 0.25;
      }
      p {
        margin: 0;
      }

      .apply-now {
        // max-height: 60px;
        // height: 50px;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: #fff;
          background-color: #3932d8;
          font-family: helvetica;
          font-size: 16px;
          font-weight: 400;
          line-height: 15px;
          padding: 10px 25px;
          border-radius: 5px;
          @media screen and (max-width: 768px) {
            padding: 10px 30px;
          }
        }
      }
      .share {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 70px;
        margin: 90px auto auto auto;
        background: #d4d2d0;
        @media screen and (max-width: 768px) {
          margin: 0;
          padding: 5px 10px;
        }
        span {
          margin: 5px;
        }
        .share-icon {
          font-size: 20px;
        }
      }
    }
  }

  .last-updated {
    float: right;
    padding: 5px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    span {
      font-size: 12px;
      font-style: italic;
      color: gray;
    }
  }
}
.my-popup-content {
  margin: auto;
  background: #f1f2f6;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.my-popup-arrow {
  color: #f1f2f6;
}
[role="tooltip"].my-popup-content {
  width: 130px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.my-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].my-popup-overlay {
  background: transparent;
}
.popup-icon {
  margin: 10px;
  font-size: 22px;
  outline: none;
}
.iconWrapper {
  display: flex;
  align-items: center;
  span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    margin-left: 5px;
  }
}
.copied {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}
