.jobcard {
  width: 40%;
  margin: 2%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: var(--color-secondary);
  font-weight: 400;
  padding: 2%;
  min-height: 12em;
  //   height: 12em;
  max-height: 100%;
  @media screen and (max-width: 768px) and (min-width: 320px) {
    width: 100%;
    min-height: 25em;
    max-height: 100%;
    padding: 3%;
    margin: 4%;
  }
  .jobcard-content {
    display: flex;
    height: 90%;

    @media screen and (max-width: 768px) and (min-width: 320px) {
      flex-direction: column;
      align-items: center;
      //   max-width: 100%;
    }
    .sectionOne {
      flex: 0.15;

      .avatar {
        height: 55px;
        width: 55px;
        margin: 0 15%;
        @media screen and (max-width: 768px) and (min-width: 320px) {
          height: 45px;
          width: 45px;
          flex: 0.2;
          margin: 5%;
        }
      }
    }
    .sectionTwo {
      flex: 0.55;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      @media screen and (max-width: 768px) and (min-width: 320px) {
        align-items: center;
        flex: 0.7;
      }

      .sectionTwo-row1 {
        flex: 0.4;

        @media screen and (max-width: 768px) and (min-width: 320px) {
          padding: 2% 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
        }
        .company {
          color: gray;
          font-size: 1.1rem;
          margin-bottom: 2%;

          @media screen and (max-width: 768px) and (min-width: 320px) {
            text-align: center;
            font-weight: 600;
          }
        }
        .designation {
          font-weight: 600;
          font-size: 1.1rem;
          margin-bottom: 2%;

          @media screen and (max-width: 768px) and (min-width: 320px) {
            font-size: 0.95rem;
            text-align: center;
          }
        }
        .locationWrapper {
          display: flex;
          align-items: center;
          margin: 2% auto 2% auto;
          @media screen and (max-width: 768px) and (min-width: 320px) {
            justify-content: center;
            margin-bottom: 3%;
          }
          .location {
            font-size: 0.9rem;

            @media screen and (max-width: 768px) and (min-width: 320px) {
              font-size: 0.8rem;
            }
          }
        }
      }
      .sectionTwo-row2 {
        flex: 0.3;
        display: flex;
        font-size: 0.9rem;
        width: 100%;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) and (min-width: 320px) {
          margin-top: 3%;
        }
        .wrapper {
          width: 100%;
          font-size: 0.9rem;
          p {
            margin: 2% auto 2% 1%;
            font-weight: 500;
            color: gray;
          }

          @media screen and (max-width: 768px) and (min-width: 320px) {
            max-width: 100%;
            text-align: center;
            p {
              margin: 2% auto 2% 1%;
              font-weight: 600;
              color: var(--color-additional);
            }
          }
        }
      }
      .sectionTwo-row3 {
        flex: 0.3;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        width: 100%;
        @media screen and (max-width: 768px) and (min-width: 320px) {
          margin-top: 4%;
          width: 90%;
          justify-content: center;
        }
        span {
          padding: 5px 10px;
          border-radius: 55px;
          background: #f1f2f6;
          margin: 1% 2% 1% 0;
          color: var(--color-primary);
          font-size: 0.8rem;
          height: 10px;
        }
      }
    }
    .sectionThree {
      flex: 0.3;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        background: var(--color-primary);
        color: var(--color-secondary);
        padding: 5% 8%;
        width: 80%;
        margin-top: 7%;
        border-radius: 5px;
        white-space: nowrap;
        text-align: center;
      }
      .share {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background: #d4d2d0;
        margin-top: 50%;

        span {
          margin: 5px;
        }
        .share-icon {
          font-size: 20px;
        }
      }

      @media screen and (max-width: 768px) and (min-width: 320px) {
        flex: 0.2;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 2%;
        a {
          //   flex: 0.5;
          padding: 4% 0;
          margin: 0;
        }
        .share {
          //   flex: 0.5;
          margin: 0 0 0 8%;
          padding: 2.5% 0;
          //   width: 30%;
        }
      }
    }
  }
  .lastUpdated {
    float: right;
    font-style: italic;
    font-size: 0.8rem;
    padding: 2% 0;
  }
}
